<footer>
  <center><h1>{{pageTitle}}</h1></center>
  <div class="nav">
    <ul style="text-align:center;list-style:none;">
      <li style="text-align:center;list-style:none;display:inline;text-decoration:none;"><a href="/">Home</a></li>
      <li style="text-align:center;list-style:none;display:inline;text-decoration:none;"><a href="/about">About Us</a></li>
    </ul>
  </div>
</footer>
